/* Colors Used:
Base Darkest (super dark gray): #1b1b1b
Base Lighter (whiffs of gray): #dfe1e2
Base Lightest (misty mist): #f0f0f0
Primary (ocean blue): #005ea2
Primary Vivid (marine blue): #0050d8
Primary Dark (deep ocean): #1a4480
Primary Darker (inkwell): #162e51
Secondary Vivid (hot sauce): #cf4900
Secondary Lighter (HubbaBubba): #f8b9c5
Secondary Lightest (wispy pink): #fff2f5
Accent (warm golden sun): #fdd835
*/

/* Applied to all html elements, border-box */
*{
  box-sizing: border-box;
}

/* Font Family and sizes*/
body {
  background-color: #ffffff;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.5; /* Sets the line-height to 1.6 * the font-size */
  color: #1b1b1b;
    
}

h1, h2, h3 {
  line-height: 1.3;
}

h1 {
    font-size: 2.50em;
    font-weight: 600;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
  font-style: italic;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
  font-style: italic;
}

h5 {
  font-size: 1.25em;
  font-weight: 400;
}

h6, s1, s2, b1, b2, button, caption {
  font-size: 1.0em;
  font-weight: 400;
}

s1 {
  font-size: 1.125em;
  font-weight: 500;
}
s2 {
  font-size: 1em;
  font-weight: bold;
}
/* Text hightlight at hero section */
.simple-highlight{
 background-color: #f8b9c5;
 padding:0.1em 0.2em;
 color: #1b1b1b;
 font-weight: 600;
}

/* Viewport Size*/
img {
  width: 100%;
}


/* Layout Styling */
/* Padding on entire page */
.container {
  padding: 0 10px;
  margin: 0 auto;  
}

/* Navigation bar elements */

.logo {
  max-width: 75px;
  max-height: 75px;
}
header {
  background-color: #fff2f5;
  padding: 12px 0 4px 0;
  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  position: fixed;
  display: inline-block;
  width: 100%;
}

/* Navigation items are hidden except menu icon for screens less than 640px, small screens */

.navtoggle li:not(:last-child) {
  display: none;
}

/* Menu bar's position is relative to the logo. navtoggle.responsive is a new class for later javascript work */

.navtoggle, .navtoggle.responsive {
  position: relative;
}

/* Menu bar */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  padding-right: 0;
  color: #1b1b1b;
}

/* Will override when responsive class is toggled */
.navtoggle.responsive li  {
  display: block;
}

/* Styling for menu icon when toggled */
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1.5px dotted #1b1b1b;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}


main {
  padding-top: 99px;
}

/* Removes the bullet points from unordered lists at nav bar */

nav >ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}
nav > ul > li {
  list-style-type: none;
  padding: 0 10px;
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
    
}
/* hover states at navigation links */
nav > ul > li > a:visited {
  color: #1b1b1b;
  text-decoration: underline; 
}
nav > ul > li > a:hover,a:focus {
  color: #1b1b1b;
  text-decoration: underline; /* Underlining when hovering over a link */
  font-style: italic;
  font-weight: 700;
}
nav > ul > li > a:active {
    background-color:#cf4900;
    font-style: italic;
    padding:0.1em 0.2em;
}  
/* hero section,index.html */
#hero {
  background-color: #fff2f5;
  padding: 15px 15px;
  display: block;
  width: 100%;
  text-align: center;
}
/* Margin at top and bottom of "rows" */
.row {
  margin: 8px 0; /* 25px top and bottom, 0 left and right */
}

/* Styling and columns at project work */
.container-project .row { 
  padding-bottom: 16px;   
  width: 100%; 
  padding-left: 20px;
}
.container-project-animation .row { 
  padding-bottom: 16px;   
  width: 100%; 
  padding-left: 20px;
}

.container-mystory .row { 
  padding-bottom: 16px;   
  width: 100%; 
  padding-left: 20px;
}

.container-my-skills .row { 
  padding-bottom: 16px;   
  width: 100%; 
  padding-left: 20px;
}
.container-project  {
	display: flex;
	flex-direction: column;
	align-items: center;
  border-bottom: 1px solid #1b1b1b;
}
.container-project-animation  {
	display: flex;
	flex-direction: column;
	align-items: center;
  border-bottom: 1px solid #1b1b1b;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.container-mystory  {
	display: flex;
	flex-direction: column;
	align-items: center;
  border-bottom: 1px solid #1b1b1b;
}

.container-my-skills  {
	display: flex;
	flex-direction: column;
	align-items: center;
  border-bottom: 1px solid #1b1b1b;
}

img {
	width: 100%;
}
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}



/* Project Work buttons */
.button.project {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #162e51;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 15px;
  border-radius: 0px;
  border-bottom: 0px solid #162e51; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}
.button.project:hover {
  background-color: #0050d8; 
  color: #ffffff;
  text-decoration: underline;
  font-style: italic;
  opacity: 0.8;
}

/* Animation Fun */
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.big-sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes sun-move {
  from {transform: translate(0,0px);}
  to {transform: translate(1200px,400px);}  
}
.md-sun {
  animation-duration: 20s;
  animation-name: sun-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes planet-move {
  from {transform: translate(0,0px);}
  to {transform: translate(45px,-200px);}  
}
@keyframes planet-move-2 {
  from {transform: translate(0,0px);}
  to {transform: translate(-100px,-250px);}  
}
.tiny-planet {
  animation-duration: 10s;
  animation-name: planet-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.tiny-planet-2 {
  animation-duration: 15s;
  animation-name: planet-move-2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes lunar-move {
  from {transform: translate(0,0px);}
  to {transform: translate(300px,-100px);}  
}
.lunar-rocket {
  animation-duration: 15s;
  animation-name: lunar-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* welcome section,about.html */
#welcome {
  background-color: #fff2f5;
  color: #1b1b1b;
  font-size: 1.125em;
  font-weight: 100;
  font-style: italic;
  padding: 15px;
  display: inline-block;
  width: 100%;
  padding-top:50px;
  text-align: center;
}

/* Footer Section */
.container-footer {
  background-color: #f0f0f0;
  padding: 10px 10px;
}
.sm-img {
  max-width: 24px;
  max-height: 24px;
  display: inline-block;  
  width: 100%; 
  padding-top: 20px; 
}
/* Email contact button */
.button.contact {
  background-color: #fdd835;  
  padding: 10px 15px;  
  color: #1b1b1b;
  border-radius: 0px;
  transition: 0.2s opacity;
  text-decoration: none;
}
.button.contact:hover {
    color: #1b1b1b;
    text-decoration: underline;
}

/* Media Queries for small to x-large deviceds */
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    display: inline-block;
  }
  .container-project {
		flex-direction: row;
		align-items: flex-start;
	}
  .container-project-animation {
		flex-direction: row;
		align-items: flex-start;
  }
	  .container-mystory {
		flex-direction: row;
		align-items: flex-start;
	}
  .container-my-skills {
		flex-direction: row;
		align-items: flex-start;    
	}
  .col-md-6 {
    width: 50%;
  }
  /* Removes menu icon and lists navigation items for larger than 640px*/
  .navtoggle li:not(:last-child) { 
  display: inline-block;
  }
  /* Removes menu icon for screens larger than 640px */
  .navtoggle li:last-child {
  display: none;
  }
  nav > ul {
  margin: 1em 0;
  }
  .navtoggle.responsive li  {
    border-top: 0;
  }

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .center {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
  .container-project {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
  .container-project-animation {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
.container-mystory {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
.container-my-skills {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
.container-footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-7 {
    width: 58.33%
  }
  /* Removes menu icon and lists navigation items for larger than 640px*/
  .navtoggle li:not(:last-child) { 
  display: inline-block;
  }
  /* Removes menu icon for screens larger than 640px */
  .navtoggle li:last-child {
  display: none;
  }
  nav > ul {
  margin: 1em 0;
  }
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px)